{# includes/_slider.twig #}
{# 1) Forrás: globál 'header' #}
{% set headerEntry = craft.app.globals.getSetByHandle('header') ?? null %}

{# 2) Képtranszformok (állíts rajtuk, ha kell) #}
{% set slider1980x800 = {
  mode: 'crop',
  width: 1920,
  height: 1280,
  quality: 95,
  position: 'center-right',
  format: 'webp'
} %}

{% set slider640x480 = {
  mode: 'crop',
  width: 640,
  height: 480,
  quality: 95,
  position: 'center-right',
  format: 'webp'
} %}

{# 3) Képtömb összeállítása #}
{% set pictures = [] %}
{% if headerEntry and headerEntry.sliderImage|length %}
  {% for image in headerEntry.sliderImage.all() %}
    {% set pictures = pictures|merge([{
      desktopUrl: image.getUrl(slider1980x800),
      mobileUrl:  image.getUrl(slider640x480),
      title:      image.title,
      simpleText: image.simpleText,
      alt:        image.alt ?? image.title
    }]) %}
  {% endfor %}
{% endif %}

{# 4) Sebesség (ms) – ha nincs megadva, 10000 ms #}
{% set speedMs = (headerEntry and headerEntry.speed is not null) 
  ? (headerEntry.speed * 1000) 
  : 10000 %}

{# 5) Mount cél – ezt a divet keresi a main.js #}
<div
  id="image-slider-swiper"
  data-pictures='{{ pictures|json_encode|e("html_attr") }}'
  data-speed="{{ speedMs }}"
></div>
