{% extends "_layout_parkh" %}

{# % set pageTitle =  entry.title % #}



{% set pageTitle =  entry.title %}



{% block menu %}


{% set currentEntry = entry ?? null %}
{% set currentLang = currentSite.language %}
{% set sites = craft.app.sites.getAllSites() %}

{# MOBIL STICKY MENÜ #}
<div class="block md:hidden sticky top-0 z-50 bg-white">
  {% include './includes/_menu' with { id: 'mobile-header' } %}
</div>

<div class="w-full bg-secondary">
  <div class="max-w-8xl mx-auto p-3 bg-secondary text-white">
    <div class="flex flex-row sm:flex sm:items-center justify-between gap-4">

      <!-- Bal oldali adat blokk -->
      <div class="w-3/4 sm:w-auto flex flex-col sm:flex-row gap-2 sm:gap-4 sm:items-center">
        {% include './includes/_iconsData.twig' with { id: 'mobile-header' } %}
      </div>

      <!-- Jobb oldali nyelv blokk -->
      <div class="w-1/4 sm:w-auto flex justify-end sm:justify-start items-start sm:items-center">
        {% include './includes/_language.twig' %}
      </div>

    </div>
  </div>
</div>






{# Desktop sticky menü #}
<div class="hidden md:block sticky top-0 z-50 bg-lightbrown">
  {% include './includes/_menu' with { id: 'site-header' } %}
</div>

{% endblock %}  

{% block main %}


<div class="w-full mx-auto">
         {# % include './includes/_slider'% #}
</div>




<div class="w-full my-auto mx-auto">
    {# % for block in entry.pictText.all() %}
      {% include '_modules/' ~ block.type  %}
    {% endfor % #}
</div>




{% endblock %}  

{% block footer %}


footer


{% endblock %}  