{% if block.type == 'threeCol' %}
  {% set cols = [] %}
  {% if block.textBox %}{% set cols = cols|merge([{ content: block.textBox }]) %}{% endif %}
  {% if block.textBox2 %}{% set cols = cols|merge([{ content: block.textBox2 }]) %}{% endif %}
  {% if block.textBox3 %}{% set cols = cols|merge([{ content: block.textBox3 }]) %}{% endif %}

<div class="w-full bg-secondary py-12 px-6 prose max-w-none 
  [&_h3]:text-2xl sm:[&_h3]:text-3xl 
  [&_h4]:text-xl sm:[&_h4]:text-2xl 
  [&_h4]:text-secondary 
">
  {% if block.title %}
    <h2 class="text-xl sm:text-5xl text-center text-white mb-8 ">{{ block.title }}</h2>
  {% endif %}

    {% if cols|length == 3 %}
      <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for col in cols %}
          <div class="bg-white rounded-xl sm:rounded-3xl p-6 [&_li]:list-disc [&_li]:list-outside [&_li]:ml-10 [&_li]:mt-1">
            {{ col.content | raw }}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-center gap-6">
        {% for col in cols %}
          <div class="bg-white rounded-xl sm:rounded-3xl p-6 w-full md:w-1/3 [&_li]:list-disc [&_li]:list-outside [&_li]:ml-10 [&_li]:mt-1">
            {{ col.content | raw }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

  </div>
{% endif %}
